# dependencies
**/node_modules/

# build artifacts
**/dist/
**/build/
**/.turbo/

# test artifacts
**/coverage/
**/.vitest/
**/.nyc_output/

# env
**/.env
**/.env.*

# OS/editor
.DS_Store
.vscode/
.idea/
